n8n_workflows/n8n-wordpress-role-sync-iai.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 10
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -608,
                -96
            ],
            "id": "7f013277-a0b2-45c2-99e2-a6976f7812c0",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "18lb3bQhGERM8kuvJD-SkEf0OxBQfG6yWkcZwEfNJzjw",
                    "mode": "list",
                    "cachedResultName": "Instituto de la IA - Alumnos (activos/inactivos)",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18lb3bQhGERM8kuvJD-SkEf0OxBQfG6yWkcZwEfNJzjw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "panel.institutodelaia.com",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18lb3bQhGERM8kuvJD-SkEf0OxBQfG6yWkcZwEfNJzjw/edit#gid=0"
                },
                "options": {}
            },
            "name": "Read Student Status",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                -176,
                -96
            ],
            "id": "33091cc0-85ca-4553-83a8-a645d20d0e0f",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "LPf4qZBpPvUSzo8f",
                    "name": "diseno4.impulsomarketing@gmail.com"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const users = {};\nconst items = $input.all();\n\n// Helper to find key fuzzily\nfunction findKey(obj, target) {\n  if (!obj) return null;\n  const keys = Object.keys(obj);\n  return keys.find(k => k.trim().toLowerCase() === target.toLowerCase());\n}\n\nfor (const item of items) {\n  // Find robust keys\n  const mailKey = findKey(item.json, 'Correo') || findKey(item.json, 'Email');\n  const statusKey = findKey(item.json, 'Status') || findKey(item.json, 'Estatus');\n  const roleKey = findKey(item.json, 'Rol') || findKey(item.json, 'Role');\n\n  if (!mailKey) continue; // No email column? Skip.\n\n  const email = (item.json[mailKey] || '').toString().trim().toLowerCase();\n  if (!email) continue;\n\n  if (!users[email]) {\n    users[email] = {\n      json: {\n        ...item.json,\n        activeRoles: [],\n        inactiveRoles: []\n      }\n    };\n  }\n\n  // Handle keys\n  const statusRaw = statusKey ? (item.json[statusKey] || '').toString().toLowerCase() : '';\n  const roleVal = roleKey ? (item.json[roleKey] || '') : '';\n  \n  const roles = roleVal.toString().split(',').map(r => r.trim()).filter(r => r.length > 0);\n\n  // Check for 'activo' or 'active'\n  if (statusRaw.includes('activo') || statusRaw === 'active') {\n    users[email].json.activeRoles.push(...roles);\n  } else {\n    // Assume anything else with roles implies inactive or just inactive status\n    // But strictly, we only care if status explicitly says 'inactivo' or is handled as else case in original logic.\n    // Original logic: if (status === 'activo') ... else ...\n    // So we keep that behavior for compatibility:\n    users[email].json.inactiveRoles.push(...roles);\n  }\n}\n\n// Result array\nconst result = [];\nfor (const email in users) {\n  const u = users[email];\n  // Unique\n  u.json.activeRoles = [...new Set(u.json.activeRoles)];\n  u.json.inactiveRoles = [...new Set(u.json.inactiveRoles)];\n  \n  // Conflict resolution: Active wins.\n  u.json.inactiveRoles = u.json.inactiveRoles.filter(r => !u.json.activeRoles.includes(r));\n  \n  result.push(u);\n}\nreturn result;"
            },
            "name": "Group Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                32,
                -96
            ],
            "id": "ee4a4352-b096-4e92-8869-715e99be193c"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                240,
                -96
            ],
            "id": "ce0f9a44-1dc1-4108-9746-eb30919f5f5b",
            "name": "Loop Rows"
        },
        {
            "parameters": {
                "url": "https://panel.institutodelaia.com/wp-json/wp/v2/users",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "wordpressApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "search",
                            "value": "={{ ($('Loop Rows').item.json['Correo'] || '').toString().trim() }}"
                        },
                        {
                            "name": "context",
                            "value": "edit"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Find User API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                432,
                -96
            ],
            "id": "7c17cf05-28f2-4903-a0c6-d4bff8fd2759",
            "alwaysOutputData": true,
            "credentials": {
                "wordpressApi": {
                    "id": "Xrm7QUSMdJpolnry",
                    "name": "https://panel.institutodelaia.com"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const searchResults = $input.all();\nconst loopItem = $('Loop Rows').item;\nconst targetEmail = (loopItem.json['Correo'] || '').toString().trim().toLowerCase();\n\n// Normalize search results: valid users only\nconst potentialUsers = searchResults.map(i => i.json).filter(u => u && u.email);\n\n// Find exact match\nconst matchedUser = potentialUsers.find(u => u.email.toLowerCase() === targetEmail);\n\n// Return item with userFound flag\nreturn {\n  json: {\n    ...loopItem.json,\n    wpUser: matchedUser || null,\n    userFound: !!matchedUser\n  }\n};"
            },
            "name": "Filter Exact User",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                640,
                -96
            ],
            "id": "4b0466d2-de85-43ac-8241-d003f80415b8"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.userFound }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "User Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                832,
                -96
            ],
            "id": "c0606519-a0be-4852-81ba-6b575e73190c"
        },
        {
            "parameters": {
                "url": "={{ \"https://panel.institutodelaia.com/wp-json/wp/v2/users/\" + $json.wpUser.id + \"?context=edit\" }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "wordpressApi",
                "options": {}
            },
            "name": "Get Current Roles",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1040,
                -96
            ],
            "id": "f1c1e1b3-d478-4e31-a824-d34acd366413",
            "credentials": {
                "wordpressApi": {
                    "id": "Xrm7QUSMdJpolnry",
                    "name": "https://panel.institutodelaia.com"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const wpUser = $input.first().json;\nconst loopItem = $('Loop Rows').item.json;\nconst activeRoles = loopItem.activeRoles || [];\n\n// SOLUCIÓN DEFINITIVA: Sobrescribir completamente\n// Ignoramos roles actuales, asignamos solo lo que dice el Sheet\nconst finalRoles = [...activeRoles];\n\nreturn {\n  json: {\n    id: wpUser.id,\n    roles: finalRoles,\n    _debug: {\n        sheet_roles: activeRoles,\n        wp_previous: wpUser.roles || [],\n        wp_new: finalRoles\n    }\n  }\n};"
            },
            "name": "Calculate Roles",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1248,
                -96
            ],
            "id": "c88e80f0-bd9c-4dd3-a942-c5ce1b9c7e6a"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ \"https://panel.institutodelaia.com/wp-json/wp/v2/users/\" + $json.id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "wordpressApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"roles\": $json.roles } }}",
                "options": {}
            },
            "name": "Update User Roles",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1440,
                -96
            ],
            "id": "49c0d883-d124-438c-a5bf-f549f637eff2",
            "alwaysOutputData": true,
            "credentials": {
                "wordpressApi": {
                    "id": "Xrm7QUSMdJpolnry",
                    "name": "https://panel.institutodelaia.com"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "name": "Wait for WP API",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1648,
                -208
            ],
            "id": "82896632-6ed8-48ec-97a2-b1e0b6650eb5",
            "webhookId": "d28306b1-4217-426f-82bc-77398c60efb4"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1840,
                -96
            ],
            "id": "0b8cb909-06e2-4ec0-bd35-2f50b34fa5e4",
            "name": "Continue Loop"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Read Student Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Student Status": {
            "main": [
                [
                    {
                        "node": "Group Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Group Data": {
            "main": [
                [
                    {
                        "node": "Loop Rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Rows": {
            "main": [
                [
                    {
                        "node": "Find User API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find User API": {
            "main": [
                [
                    {
                        "node": "Filter Exact User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Exact User": {
            "main": [
                [
                    {
                        "node": "User Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "User Found?": {
            "main": [
                [
                    {
                        "node": "Get Current Roles",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Continue Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Current Roles": {
            "main": [
                [
                    {
                        "node": "Calculate Roles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Roles": {
            "main": [
                [
                    {
                        "node": "Update User Roles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update User Roles": {
            "main": [
                [
                    {
                        "node": "Wait for WP API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for WP API": {
            "main": [
                [
                    {
                        "node": "Continue Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Continue Loop": {
            "main": [
                [
                    {
                        "node": "Loop Rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3a54f9858961d6a8de3ba4e915ac8d0e4ae80bcd3db7f786bb8f5b77301d8dd3"
    }
}