n8n_workflows/woocommerce-to-sheets.json
{
    "name": "WooCommerce API to Google Sheets (V24 - Ingestion Only)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 15
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                220,
                240
            ]
        },
        {
            "parameters": {
                "resource": "order",
                "operation": "getAll",
                "limit": 20,
                "options": {}
            },
            "id": "woocommerce-api",
            "name": "WooCommerce API",
            "type": "n8n-nodes-base.wooCommerce",
            "typeVersion": 1,
            "position": [
                440,
                240
            ],
            "credentials": {
                "wooCommerceApi": {
                    "id": "CREATE_NEW_CREDENTIAL_IN_N8N",
                    "name": "Instituto de la IA Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Robust Batch Deduplication\n// Keeps the first occurrence of each unique ID\nconst items = $input.all();\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of items) {\n  const id = item.json.id;\n  if (id && !seen.has(id)) {\n    seen.add(id);\n    uniqueItems.push(item);\n  }\n}\n\nreturn uniqueItems;"
            },
            "id": "filter-batch-duplicates",
            "name": "Safety Filter (Batch)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                240
            ]
        },
        {
            "parameters": {
                "jsCode": "// Simple reliable text extraction\nconst items = $input.all();\nreturn items.map(item => {\n  const lineItems = (item.json.line_items || []);\n  // Join all product names\n  const names = lineItems.map(i => i.name).join(', ');\n  return {\n    json: {\n      product_name: names || \"Producto General\"\n    }\n  }\n});"
            },
            "id": "code-product-cleaner",
            "name": "Product Name Cleaner",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                240
            ]
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "id",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"id\"] }}"
                        },
                        {
                            "name": "status",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"status\"] }}"
                        },
                        {
                            "name": "product_name",
                            "value": "={{ $json.product_name }}"
                        },
                        {
                            "name": "date_created",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"date_created\"] }}"
                        },
                        {
                            "name": "total",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"total\"] }}"
                        },
                        {
                            "name": "currency",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"currency\"] }}"
                        },
                        {
                            "name": "payment_method",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"payment_method_title\"] }}"
                        },
                        {
                            "name": "first_name",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"billing\"]?.[\"first_name\"] || '' }}"
                        },
                        {
                            "name": "last_name",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"billing\"]?.[\"last_name\"] || '' }}"
                        },
                        {
                            "name": "email",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"billing\"]?.[\"email\"] || '' }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $('Safety Filter (Batch)').item.json[\"billing\"]?.[\"phone\"] || '' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "format-data",
            "name": "Format Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                1140,
                240
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": {
                    "__rl": true,
                    "value": "1V36sRqibKoduR078ovbz5SaY3SUXy3b0kdAEM66X-Yg",
                    "mode": "list",
                    "cachedResultName": "Select Spreadsheet"
                },
                "range": "A:K",
                "options": {}
            },
            "id": "google-sheets-write",
            "name": "Google Sheets (Write)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1380,
                240
            ],
            "credentials": {
                "googleSheetsOAuth2Api": "Google Sheets Account"
            },
            "notes": "REQUIRES HEADERS: id | status | product_name | date_created | total | ..."
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "WooCommerce API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WooCommerce API": {
            "main": [
                [
                    {
                        "node": "Safety Filter (Batch)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safety Filter (Batch)": {
            "main": [
                [
                    {
                        "node": "Product Name Cleaner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Product Name Cleaner": {
            "main": [
                [
                    {
                        "node": "Format Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Data": {
            "main": [
                [
                    {
                        "node": "Google Sheets (Write)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}